# Ignore uploads and converts directories
# Ignore uploads and converts directory contents but not the directories themselves
uploads/*
!uploads/.gitkeep
converts/*
!converts/.gitkeep
done/

# Python virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDE settings
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Log files
*.log

AWSCLI